/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
  }

  .project-gap {
    gap: 1.6rem;
  }

  .heading-title {
    font-size: 5.2rem;
  }

  .heading-job {
    font-size: 6.2rem;
  }

  .sc-heading {
    font-size: 3.6rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .grid {
    gap: 3.2rem;
  }

  .project-gap {
    gap: 1.6rem;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  /* NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgb(255, 255, 250);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
    color: #333;
  }

  .main-nav-link.hire-btn {
    color: #6cae00;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    color: #333;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
  }

  .offer {
    height: 100%;
  }

  .section-projects .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .project {
    width: 90%;
    height: 100%;
    align-self: center;
    justify-self: center;
  }

  .project-img {
    width: 100%;
    height: 100%;
    border-radius: 9px;
  }

  .project-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .project-2 {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
  }

  .project-3 {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
  }

  .project-4 {
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
  }

  .project-5 {
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
  }

  .cta {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta-text-box {
    border-top: 3px solid #fffffa;
    border-bottom: 3px solid #fffffa;
    border-left: 3px solid #fffffa;
    border-right: none;
    border-radius: 9px 0 0 9px;
  }

  .cta-form {
    border-top: 3px solid #fffffa;
    border-bottom: 3px solid #fffffa;
    border-right: 3px solid #fffffa;
    border-left: none;
    border-radius: 0 9px 9px 0;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .row {
    grid-column: 1 / -1;
    text-align: center;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    justify-self: center;
    border-top: 3px solid #fffffa;
    border-bottom: none;
    border-left: 3px solid #fffffa;
    border-right: 3px solid #fffffa;
    border-radius: 9px 9px 0 0;
  }

  .cta-form {
    justify-self: center;
    border-top: none;
    border-bottom: 3px solid #fffffa;
    border-left: 3px solid #fffffa;
    border-right: 3px solid #fffffa;
    border-radius: 0 0 9px 9px;
  }

  .submit-btn {
    justify-self: center;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .section-offer .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .grid {
    gap: 2.4rem;
  }

  .heading-job {
    font-size: 4.4rem;
  }

  .skill-icon {
    height: 11rem;
    width: 11rem;
  }

  .project-name {
    font-size: 1.2rem;
  }

  .project-show {
    font-size: 1rem;
  }

  .big--img-title {
    font-size: 2.4rem;
  }

  .big--img-show {
    font-size: 1.8rem;
  }

  .about-description {
    width: 80%;
  }
}

/* ------ Landscape phones max-height - 448px  ------ */
@media (max-height: 28em) {
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
}
